
<section class="main">
  <div class="container">
      <p class="title">Welcome</p>
      <h3>wafa salah</h3>
      <div class="separator"></div>
      <p class="welcome-message">Please, choose the domain</p>
    </div>

  </section>

  <div class="row">
      <div class="col-3"><a [routerLink]="['/chapter/']"> <button class="submit">Developpment web </button></a></div>
      <div class="col-3" ><button class="submit">Data Analyst</button></div>
      <div class="col-3" ><button class="submit">Data Scientist</button></div>
      <div class="col-3" ><button class="submit">Marketing</button></div>
    </div>
    <div class="row" >
      <div class="col-3"><button class="submit">UX Designer</button></div>
      <div class="col-3"><button class="submit">Machin Learning</button></div>
      <div class="col-3" ><button class="submit">Prduct Manager</button></div>
      <div class="col-3" ><button class="submit">Community Manager</button></div>

    </div>
